# This is here because otherwise npm will give `@instructure/ui` private copies of some of the `@instructure/ui-*`
# libraries and will pull in newer versions of the libraries at the top level of the project. When there is a newer
# release of Instructure UI than we are running, this can result in multiple versions of the Instructure UI libraries
# being present in the project.
prefer-dedupe=true
