body {
    /* When you get internal scroll bars on macOS have space under them */
    padding-right: 18px;
}
/* All the debug elements aren't show */
.debug {
    display: none;
}
/* Put forms on the same line */
.inline-form {
    display: inline-block;
}
input[type=file] {
    /* Without this the input is stretched to 38px but the content appears at the top of the box on Chrome
     * and then the input isn't aligned with it's label
     */
    height: auto;
}

/** Trim down the version */
.version {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
    font-size: x-small;
}

.status-complete, .status-failed {
    vertical-align: top;
}