files:
  "/opt/calendar-import/config/application.properties" :
    mode: "000755"
    owner: root
    group: root
    # The variable in here get substituted at runtime (when docker starts), rather than when the file is
    # written to the worker's disk.
    content: |
     # Config for AWS EB
     spring.datasource.url=jdbc:mysql://${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}
     spring.datasource.username=${RDS_USERNAME}
     spring.datasource.password=${RDS_PASSWORD}
     # Make sure we use UTF-8
     spring.datasource.hikari.data-source-properties.useUnicode=true
     spring.datasource.hikari.data-source-properties.characterEncoding=UTF-8
     # Using a newer dialect means we default to InnoDB
     spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL55Dialect
     spring.jpa.hibernate.ddl-auto=update
     spring.quartz.jdbc.initialize-schema=always
     spring.quartz.jdbc.comment-prefix=#

     # Disable dev stuff
     spring.devtools.add-properties=false

     # Force the cookie to be only supplied on HTTPS connections (always the case on AWS)
     server.servlet.session.cookie.secure=true

     # Are we wanting to allow importing into sections
     calendar.section.import=true

     # Make sure we are storing the uploads on efs
     calendar.upload.location=/efs/calendar-import

     # As we are proxying through nginx
     server.tomcat.remote-ip-header=x-forwarded-for
     server.tomcat.protocol-header=x-forwarded-proto
     calendar.tenants[0].name=canvas
     calendar.tenants[0].url=https://oxeval.instructure.com
     calendar.tenants[0].displayName=Oxford Evaluation
     calendar.tenants[0].ltiSecret=canvas
     calendar.tenants[0].oauth2Id=115370000000000003
     calendar.tenants[0].oauth2Secret=eZwqAoqVHSIT2UhouSOyqZXj5w4PaAIIU3bVOS0IgvPOgMZnpuplQT8WVxI8IrIw
