{{#imports}}
    <ul class="ig-list" id="group_1">
        <li>
            <div class="ig-row">
                <div class="ig-row__layout">
                    <div class="ig-type-icon" aria-hidden="true">
                        <!-- TODO Type -->
                        <i class="{{icon}}" aria-hidden="true"></i>
                    </div>
                    <div class="ig-info">
                                    <span class="ig-title">
                                        {{user}} imported <a href="./download/{{contextJobId}}"
                                                             title="Download file originally imported.">{{filename}}</a>
                                        into {{#dest}} the section: {{dest}}{{/dest}}{{^dest}}the course{{/dest}}
                                    </span>
                        <div class="ig-details">
                            <div class="ig-details__item"><b>Created</b> {{when}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        {{#load}}
            <li>
                <div class="ig-row ig-indent1">
                    <div class="ig-row__layout">
                        <div class="ig-type-icon" aria-hidden="true">
                            <i class="icon-import"></i>
                        </div>
                        <div class="ig-info">
                                        <span href="#" class="ig-title">
                                            Import: {{status}}
                                            {{#isComplete}}
                                                <i class="icon-complete status-complete text-success"></i>
                                            {{/isComplete}}
                                            {{#isFailed}}
                                                <i class="icon-warning status-failed text-error"></i>
                                            {{/isFailed}}
                                            {{#isProblem}}
                                                <i class="icon-trouble status-problem text-warning"></i>
                                            {{/isProblem}}

                                        </span>
                            <div class="ig-details">
                                {{#progress}}
                                    <div class="ig-details__item"><b>Progress</b> {{complete}}/100%</div>
                                {{/progress}}
                                <div><b>Last Message</b> {{message}}</div>
                                <br>
                                <div><b>Logfile</b> {{#hasLog}}<a href="log/{{contextJobId}}/load"
                                                                  target="_blank">Logfile</a>{{/hasLog}}{{^hasLog}}
                                    Logfile not yet available.{{/hasLog}}</div>
                            </div>
                        </div>
                        <div class="ig-admin">
                            {{#canDelete}}
                                <form class="ic-Form-group" method="post" action="delete">
                                    <input type="hidden" name="calendarImportId" value="{{id}}"/>
                                    <input type="hidden" name="{{_csrf.parameterName}}"
                                           value="{{_csrf.token}}"/>
                                    <button class="Button Button--danger"
                                            onclick="return confirm('This will remove all events in the calendar created by this import, continue?');">
                                        <i class="icon-trash"></i>
                                    </button>
                                </form>
                            {{/canDelete}}
                        </div>
                    </div>
                </div>
            </li>
        {{/load}}
        {{#delete}}
            <li>
                <div class="ig-row ig-indent1">
                    <div class="ig-row__layout">
                        <div class="ig-type-icon" aria-hidden="true">
                            <i class="icon-trash"></i>
                        </div>
                        <div class="ig-info">
                                        <span class="ig-title">
                                            Delete: {{status}}
                                            {{#isComplete}}
                                                <i class="icon-complete status-complete text-success"></i>
                                            {{/isComplete}}
                                            {{#isFailed}}
                                                <i class="icon-warning status-failed text-error"></i>
                                            {{/isFailed}}
                                            {{#isProblem}}
                                                <i class="icon-trouble status-problem text-warning"></i>
                                            {{/isProblem}}
                                        </span>
                            <div class="ig-details">
                                {{#progress}}
                                    <div class="ig-details__item"><b>Progress</b> {{complete}}/100%</div>
                                {{/progress}}
                                <div><b>Last Message</b> {{message}}</div>
                                <br>
                                <div><b>Logfile</b> {{#hasLog}}<a href="log/{{contextJobId}}/delete"
                                                                  target="_blank">Logfile</a>{{/hasLog}}{{^hasLog}}
                                    Logfile not yet available.{{/hasLog}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {{/delete}}
    </ul>
{{/imports}}
{{^imports}}
    <div class="item-group">
        <ul class="ig-list">
            <li>
                <div class="ig-row ig-row-empty">
                    <div class="ig-empty-msg">
                        No previous imports found.
                    </div>
                </div>
            </li>
        </ul>
    </div>
{{/imports}}
{{#page.paged}}
    <div class="item-group">
        <ul class="ig-list">
            <li>
                <div class="ig-row ig-row-pagination">
                        {{#page.first}}
                            <a {{^slice.first}}href="?page={{page}}&size={{size}}"{{/slice.first}} class="icon-move-start {{#slice.first}}muted{{/slice.first}}"><span class="screenreader-only">First</span></a>
                        {{/page.first}}
                        {{#page.previous}}
                            <a {{#slice.hasPrevious}}href="?page={{page}}&size={{size}}"{{/slice.hasPrevious}} class="icon-arrow-start {{^slice.hasPrevious}}muted{{/slice.hasPrevious}}"><span class="screenreader-only">Previous</span></a>
                        {{/page.previous}}
                        {{#page.next}}
                        <a {{#slice.hasNext}}href="?page={{page}}&size={{size}}"{{/slice.hasNext}} class="icon-arrow-end {{^slice.hasNext}}muted{{/slice.hasNext}}"><span class="screenreader-only">Next</span></a>
                        {{/page.next}}
                </div>
            </li>
        </ul>
    </div>
{{/page.paged}}
