<!DOCTYPE>
<html>
<head>
    <link type="text/css" href="{{{canvasCommonCss}}}" rel="stylesheet"/>
    <link type="text/css" href="{{{canvasBrandCss}}}" rel="stylesheet"/>
    <link type="text/css" href="/resources/style.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/resources/import.js"></script>
    <title>{{applicationName}}</title>
</head>
<body>

<div class="content-box">
    {{#alert}}
    <p>
    <div class="ic-flash-{{type.css}}">
        <div class="ic-flash__icon" aria-hidden="true">
            <i class="icon-{{type.icon}}"></i>
        </div>
        {{message}}
    </div>
    </p>
    {{/alert}}
    <div class="header-bar">
        <h3 class="ic-Action-header__Heading">Import File</h3>
        <p>
            This tool allows you to import a set of events contained in the a CSV file into the
            <a href="{{{courseCalendarUrl}}}" target="_top">course calendar</a>. The file has to be specifically formatted for the
            importer. An <a href="/resources/example.csv">example file</a> can be downloaded, edited locally and then
            uploaded again to import.
        </p>
        <form class="ic-Form-group ic-Form-group--horizontal" method="post" action="upload"
              enctype="multipart/form-data">
            <div class="ic-Form-control">
                <label class="ic-Label" for="file-upload-input">File:</label>
                <input type="file" name="file" accept=".csv,text/csv"/>
            </div>
            {{#beta}}
            <div class="ic-Form-control">
                <label class="ic-Label" for="dest-input">Into:</label>
                <select class="ic-Input" id="dest-input" name="destination" size="1">
                    <option value="course">Course: {{course}}</option>
                </select>
            </div>
            <fieldset class="ic-Fieldset ic-Fieldset--radio-checkbox">
                <legend class="ic-Legend">
                    Upload Type
                </legend>
                <div class="ic-Form-control ic-Form-control--radio ic-Form-control--radio-inline">
                    <div class="ic-Radio">
                        <input id="csv" type="radio" name="type" value="CSV" checked>
                        <label for="csv" class="ic-Label">CSV</label>
                    </div>
                    <div class="ic-Radio">
                        <input id="ical" type="radio" name="type" value="ICAL">
                        <label for="ical" class="ic-Label">iCal</label>
                    </div>
                </div>
            </fieldset>
            {{/beta}}
            <div class="ic-Form-actions">
                <input class="Button" type="reset" value="Cancel"/>
                <input class="Button Button--primary" type="submit" value="Import"/>
            </div>
            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
        </form>
    </div>
    <div class="item-group-container">
        <div class="item-group-condensed">
            <div class="ic-Action-header">
                <div class="ic-Action-header__Primary">
                    <h3 class="ic-Action-header__Heading">Previous Imports</h3>
                </div>
                <div class="ic-Action-header__Secondary">
                    <form style="display: inline" id="relogin" action="./relogin" method="post">
                        <input class="Button" type="submit" value="Relogin"/>
                        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    </form>
                    <a class="al-trigger btn icon-refresh" href="./" role="button" title="Refresh">Update</a>
                </div>
            </div>
            {{#imports}}
                <div class="item-group-condensed">
                    <ul class="ig-list" id="group_1">
                        <li>
                            <div class="ig-row">
                                <div class="ig-row__layout">
                                    <div class="ig-type-icon" aria-hidden="true">
                                        <!-- TODO Type -->
                                        <i class="icon-ms-excel" aria-hidden="true"></i>
                                    </div>
                                    <div class="ig-info">
                                    <span class="ig-title">
                                        {{user}} imported <a href="./download/{{id}}">{{filename}}</a>
                                    </span>
                                        <div class="ig-details">
                                            <div class="ig-details__item"><b>Created</b> {{when}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        {{#load}}
                            <li>
                                <div class="ig-row ig-indent1">
                                    <div class="ig-row__layout">
                                        <div class="ig-type-icon" aria-hidden="true">
                                            <i class="icon-import"></i>
                                        </div>
                                        <div class="ig-info">
                                        <span href="#" class="ig-title">
                                            Import: {{status}}
                                        </span>
                                            <div class="ig-details">
                                                {{#progress}}
                                                    <div class="ig-details__item"><b>Progress</b> {{complete}}/100%</div>
                                                {{/progress}}
                                                <div><b>Last Message</b> {{message}}</div>
                                                <br>
                                                <div><b>Logfile</b> {{#hasLog}}<a href="log/{{logId}}" target="_blank">Logfile</a>{{/hasLog}}{{^hasLog}}Logfile not yet available.{{/hasLog}}</div>
                                            </div>
                                        </div>
                                        <div class="ig-admin">
                                            {{#canDelete}}
                                                <form class="ic-Form-group" method="post" action="delete">
                                                    <input type="hidden" name="calendarImportId" value="{{id}}"/>
                                                    <input type="hidden" name="{{_csrf.parameterName}}"
                                                           value="{{_csrf.token}}"/>
                                                    <button class="Button Button--danger" onclick="return confirm('This will remove all events in the calendar created by this import, continue?');"><i class="icon-trash"></i>
                                                    </button>
                                                </form>
                                            {{/canDelete}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/load}}
                        {{#delete}}
                            <li>
                                <div class="ig-row ig-indent1">
                                    <div class="ig-row__layout">
                                        <div class="ig-type-icon" aria-hidden="true">
                                            <i class="icon-trash"></i>
                                        </div>
                                        <div class="ig-info">
                                        <span class="ig-title">
                                            Delete: {{status}}
                                        </span>
                                            <div class="ig-details">
                                                {{#progress}}
                                                    <div class="ig-details__item"><b>Progrss</b> {{complete}}/100%</div>
                                                {{/progress}}
                                                <div><b>Last Message</b> {{message}}</div>
                                                <br>
                                                <div><b>Logfile</b> {{#hasLog}}<a href="log/{{logId}}" target="_blank">Logfile</a>{{/hasLog}}{{^hasLog}}Logfile not yet available.{{/hasLog}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/delete}}
                    </ul>
                </div>
            {{/imports}}
            {{^imports}}
                <div class="item-group-condensed">
                    <ul class="ig-list">
                        <li>
                            <div class="ig-row ig-row-empty">
                                <div class="ig-empty-msg">
                                    No imports have been run yet.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            {{/imports}}
        </div>

    </div>
    {{#beta}}
    <div>
        <form method="post" action="/api/v1/cleanup">
            <label>Tenant <input type="text" name="tenant"/></label><br/>
            <label>Context <input type="text" name="context"/></label><br/>
            <input type="submit" value="Cleanout"/>
            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
        </form>
    </div>

    <div>
        {{#message}}{{message}}{{/message}}
        <form method="post">
            <input type="text" name="url"/>
            <input type="submit" value="Add"/>
            <label>CSV<input type="radio" name="type" value="CSV" checked></label>
            <label>iCal<input type="radio" name="type" value="ICAL"></label>
            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>

        </form>
    </div>
    {{/beta}}
</div>
</body>
</html>
